/* Reset inicial */
body {
  margin: 0px;
  /* Remove o margin padrão que vem da tag ul */

  font-family: Arial, Helvetica, sans-serif;
  /* Altera a fonte da página */
}

ul {
  margin: 0px;
  /* Remove o margin padrão que vem da tag ul */

  padding: 0px;
  /* Remove o padding padrão que vem da tag ul */

  list-style: none;
  /* Remove todos os estlios da ul */
}

a {
  text-decoration: none;
  /* Remove todas as decorações da ancora (a) */
}

/* Header */

.header-bg {
  background-color: #000000;
  /* Cor de fundo do container que envolve o header */
}

.header {
  display: flex;
  /* Para colocar um item ao lado do outro */

  flex-wrap: wrap;
  /* Usado para que os itens do menu possam ser quebrados conforme a tela for diminuindo. */

  gap: 20px;
  /* Espaçamento entre os items */

  justify-content: space-between;
  /* Colocar um item em uma ponta e o outro na outra ponta na horizontal*/

  align-items: center;
  /* Alinhar verticalmente os elementos ao centro */

  box-sizing: border-box;
  /* Faz com que o valor do padding não some ao valor do comprimento do container */

  padding: 20px;
  /* Espaçamento interno aumentado para todos os lados */

  max-width: 1200px;
  /* Definição do tamanho do container */

  margin-left: auto;
  margin-right: auto;
  /* Ambas para sempre centralizar os elementos na tela, após o tamanho da tela for maio que o max-width */
}

.header-menu {
  display: flex;
  /* Para colocar um item ao lado do outro */

  flex-wrap: wrap;
  /* Para que os items do menu possam quebrar quando a tela for pequena */

  gap: 40px;
  /* Espaçamento entre cada ul. */
}

.header-menu a {
  color: #ffffff;
  /* Altera a cor da fonte */

  display: inline-block;
  /* Para que o padding pegue quando os items ficarem um abaixo do outro, pois esse elemento é inline */

  padding: 16px 0;
  /* Para aumentar a área clicável dos lados, importante para clicar com o dedo */

  font-size: 18px;
  /* Tamanho da fonte da ancora (a) */

  position: relative;
  /* Para informar que será em relação ao a que o a:after irá se posicionar */
}

.header-menu a:after{
    content: "";
    /* Criar um conteudo vazio */

    display: block;
    /* O item irá se comportar como um bloco; */

    height: 2px;
    /* Altura do elemento */

    width: 0%;
    /* Tamanho do elemento, irá começar com 0 */

    background: #ffffff;
    /* Cor de fundo do elemento */

    margin-top: 4px;
    /* Para dar um espaçamento entre o after e o objeto pai */

    transition: 0.3s;
    /* Tempo em que a transição irá ocorrer */

    position: absolute;
    /* Passa a pegar o elemento pai como padrão, no caso o a */
}

.header-menu a:hover:after {
    width: 100%;
    /* Tamanho do elemento, irá pegar 100% do elemento pai selecionado*/
}

/* Responsividade do header */
/* até 800px vai ser comprar dessa forma: */
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
    /* Espaçamento entre os itens do menu */
  }
  .header-menu a {
    background: #111111;
    /* Para criar um bg para cada item da ancora(a) */

    padding: 12px 16px;
    /* Para aumentar a margem interna para todos os lados */

    border-radius: 4px;
    /* Padrão no projeto do site, todas as bordas serão arredondadas */
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
    /* Estilo para quando passar o mouse na ancora */
  }
  .header-menu a::after {
    display: none;
    /* Quando a tela for desse tamanho ou menos, não irá aparecer o after */
  }
}

/* até 600px vai ser comprar dessa forma: */
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
    /* Espaçamento entre os itens do menu */
  }
  .header-menu a {
    padding: 8px 12px;
    /* Para aumentar a margem interna para todos os lados */

    font-size: 14px;
    /* Tamanho da fonte da ancora (a) */
  }

 
}
